<script lang="ts" setup>
import { reactive } from 'vue';

const counter = reactive({
    count: 0
})
console.log(counter.count)
counter.count++

import { ref } from 'vue'

const message = ref('Hello World!')

console.log(message.value) // "Hello World!"
message.value = 'Changed'

</script>

<template>

<h1>{{ message.split('').reverse().join('') }}</h1>
<p>count is: {{ counter.count }}</p>

</template>

<style scoped>

</style>